<div class="h1">This is the beginning for the form.</div>
<form name="profileForm" ng-submit="model.submit()" novalidate>
  <div forminput>
      <label for="username">Your user name:</label>
      <input type="text" id="username" name="username" required
             placeholder="User name" ng-model="model.user.username"
             starts-with="S" username>
  </div>
  <div forminput>
      <label for="email">Your email:</label>
      <input type="email" id="email" name="email"
             required placeholder="Email address"
             ng-model="model.user.email">
  </div>
  <div forminput>
      <label for="website">Your website:</label>
      <input type="url" id="website" name="website" placeholder="Website" ng-model="model.user.website">
  </div>
  <div>
    <dropdown></dropdown>
  </div>
</form>
